{#
SPDX-FileCopyrightText: 2022 Helmholtz Centre for Environmental Research (UFZ)
SPDX-FileCopyrightText: 2022 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)

SPDX-License-Identifier: Apache-2.0
#}
{$SSL_DOMAINS}

reverse_proxy http://reverse-proxy:80

tls /etc/ssl/certs/{{ rsd_tls_cert_file | basename }} /etc/ssl/private/{{ rsd_tls_key_file | basename }}

basicauth /* {
    hifis {{ rsd_basic_auth_hash }}
}
